{% extends 'base.html.twig' %}

{% block title %}Ligne3 index{% endblock %}

{% block body %}
    <h1>Ligne3 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Trajet</th>
                <th>Disponibilite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ligne3 in ligne3s %}
            <tr>
                <td>{{ ligne3.id }}</td>
                <td>{{ ligne3.trajet }}</td>
                <td>{{ ligne3.disponibilite ? ligne3.disponibilite|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_ligne3_show', {'id': ligne3.id}) }}">show</a>
                    <a href="{{ path('app_ligne3_edit', {'id': ligne3.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ligne3_new') }}">Create new</a>
{% endblock %}
